
/* Estilos para pantallas grandes*/

body {
    margin-bottom: 0;
    padding-bottom: 0;
}

/*Estilos del Header*/
header{
    background-color: #d7b899;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
}

header ul li {
    display: inline-block;
    transition: transform 0.4s ease-in-out;
}

header ul a {
    font-size: 1.25rem;
    color: #ffffff !important; 
    text-decoration: none;     
    display: block; 
}



/*Efecto al pasar el raton por el enlace*/
header ul li:hover {
    transform: scale(1.20);
}

/* Estilos de el carrusel y las imagenes*/
.carousel-inner {
    height: 450px;
    background-color: #ffffff;
}

.carousel-item {
    height: 100%;
    margin: 0;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* Cambia el color de las flechas del carrusel a negro */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1) grayscale(100%) brightness(0); /* Convierte el SVG blanco en negro */
}

/* Cambia las barritas/puntitos indicadores de abajo a negro */
.carousel-indicators [data-bs-target] {
    background-color: #000000 !important;
}

/* Opacidad de las flechas para que se noten más */
.carousel-control-prev,
.carousel-control-next {
    opacity: 0.7;
}

/* Efecto al pasar el ratón por encima de las flechas */
.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 1;
}

.cards_carrusel{
    gap: 20px;
    margin-bottom: 20px;
    justify-content: center;
}


/*Estilos de las secciones*/
section{
    margin: 20px;
    padding-right: 15px;
}

section h3{
    color: #d0ad8a;
    margin-bottom: 10px;
}

section p {
    text-align: justify;
    padding-right: 40px;
}

.formulario h3{
    color: #d0ad8a;
}

.img_formulario img{
    margin-top: 20px;
    height: 300px;
    width: auto;
}

/*Estilos del Footer*/
footer{
    width: 100%;
}

.redes_sociales{
    justify-content: space-around;
}

.redes_sociales img{
    width: 50px;
    height: 50px;
    gap: 20px;
}


/*Media Queries*/

/*Tablet*/
@media (max-width: 992px) {
    .carousel-inner {
        height: 350px;
    }
}

/* Móvil grande */
@media (max-width: 768px) {
    .carousel-inner{
        height: 280px;
    }
}

/* Móvil pequeño */
@media (max-width: 576px) {
    .carousel-inner {
        height: 250px;
    }
}